body{ 
    background-color:rgb(235,235,235);
    margin: 0;
    min-height: 100vh;
} 

.noti_bar{

    top: 0;
    width: 100%;
    height: 5rem;
    background-image: url("/images/conquestbg.png");
    background-size:cover;
    display: table;
}

.dropdown {
    display: inline-block;
    color: white;
    right: 2rem;
}

.noti_bar > .dropdown {
    width: 1%;
}

.noti_bar > * {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1.5rem;
    height: 3rem;
}


.dropdown-content {
    display: none;
    background-color: rgba(50,0,155,0.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: white;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo{
    top: 12px;
    left: 12px;
    height: 100%;
}

.responsive:hover {
    border: 1px solid #777;
}

.gallery a {
    display:  block;
    height: 6rem;
    background-color: #065fa2;
    background-image: url("/images/conquestbg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

div.desc {
    padding: 15px;
    text-align: center;
}

*{
    box-sizing: border-box;
}

.responsive {
    overflow:hidden;
    border: 1px solid #ccc; 
    margin: 0 6px;
    width: 24.99999%;
    display: table-cell;
    vertical-align: middle;
    display: inline-block;
    background: white;
    border-radius: 15px;
}

.respwrap{
    text-align: center;
    display: table;
    height: calc(100% - 5rem);
    padding: 5rem;
}

.phone_dropdown{
    visibility: hidden;
    display: none;
    bottom: - 10rem;
    position: absolute;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 30rem;
        margin: 6px 0;
    }

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}}

.planName {
    margin: 0;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.gallery a {
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.planDesc {
    margin: 0.5rem 0 0 0;
}